*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./img/image\ 11.png);
    
}
header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.406);
}

header>img {
    margin-right: 174px;
}

header>nav>ul {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;

    display: flex;
    gap: 33px;

    margin-right: 153px;
}

header>nav>ul>li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


header>ul {
    list-style: none;
    display: flex;
    gap: 33px;
}

header>ul>li {
    text-decoration: none;
}
main>ul{
    list-style: none;
}
main>li>{
    text-decoration: none;
}