* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/index_bg.png);
    background-clip: padding-box;
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.406);
}

header>img {
    margin-right: 174px;
}

header>nav>ul {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;

    display: flex;
    gap: 33px;

    margin-right: 153px;
}

header>nav>ul>li>a {
    color: white;
    text-decoration: none;
}


header>ul {
    list-style: none;
    display: flex;
    gap: 33px;
}

header>ul>li {
    text-decoration: none;
}

.hero {
    margin-top: 178px;
    flex-direction: column;
    text-align: center;
}

.hero>h1 {


    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: white;
    opacity: 0; /* Початкова прозорість */
    transform: translateY(20px); /* Початкове положення по вертикалі */
    transition: opacity 1s, transform 1s; /* Затримка анімації 1 секунда */
    
}
.hero.animate h1 {
    opacity: 1; 
    transform: translateY(0); 
}
.hero>p {
    margin-top: 71px;
    display: inline-block;
    width: 690px;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>a {

    margin-top: 184px;
    margin-bottom: 159px;
    text-decoration: none;

    display: inline-block;
    color: #000;
    text-align: center;
    font-family: Haettenschweiler;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: #d9d9d9c4;

    width: 250px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #161616;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

main a:hover {

    background-color: rgb(59, 59, 59);
}

main a   { 

   padding: 19px 17px;
   border-radius: 20px;
}
